* {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom left,#222222 50%,#666666,#888888);
    font-family: sans-serif;
    
}

#heading {
    width: 300px;
    text-align: center;
    font-size: 40px;
    /*margin-left: 100px;*/
}

.flexcontainer {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.picture_one {
    width: 300px;
    height: 300px;
    border:solid silver 5px;
    border-radius: 30px;
    margin: 10px 20px;
}

.picture_two {
    width: 300px;
    height: 300px;
    border:solid silver 5px;
    border-radius: 30px;
    margin: 10px 20px;
}

.picture_three {
    width: 300px;
    height: 300px;
    border:solid silver 5px;
    border-radius: 30px;
    margin: 10px 20px;
}

.caption_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
}

.center_caption {
    width: 300px;
    height: 200px;
    border: solid red 1px;
    margin: 10px 20px;
    text-align: center;
    padding: 20px;
    background-color: #666666;
}

.avatar {
    width: auto;
    height: 200px;
    padding: 10px;
    display: inline;
}

h1 {
    color: #FA8072;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

p {
    color:#CCCCCC;
    text-align: center;
}

a {
    color: #CCCCCC;
}