* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #333333;
    padding-top: 15px;
    font-size: 30px;
}

.menu-bar {
    margin-top: -2px;
    font-size: 18px;
}


a {
    text-decoration: none;
}

.planner-link {
    color: #ddccbb;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    padding: 15px 40px;
}

.left-side {
    flex: 1 2 25%;
    align-self: center;
    text-align: center;
    color: aqua;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.recipe-container {
    display: flex;
    flex: 1 1 50%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 15px;
}

.item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    width: 200px;
    padding: 15px;
    gap: 15px;
}

.link {
    color: #222222;
}

img {
    width: 160px;
    height: 200px;
    border-radius: 15px;
}

.link {
    width: 200px;
    flex-wrap: wrap;
    font-weight: 800;  
}

.right-side {
    flex: 1 2 25%;
    text-align: center;
    align-self: center;
    color: salmon;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.footer {
    background-color: #333333;
    display: flex;
    justify-content: space-around;
}

